<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Knowledge Base!</title>
</head>
<body>
    <p>Welcome to the knowledge Base!</p>
    <p>Here you will find information including:</p>
    <ol>
      <li><a href="./happiness">Happiness Entries</a></li>
      <li><a href="./habits">Habits</a></li>
      <li><a href="./stitching">Stitching Stuff</a></li>
      <li><a href="./alcohol">Alcohol</a></li>
    </ol>
    <p><b>Don't let the perfect be the enemy of the good -- Voltaire</b></p>
</body>
</html>
