<!DOCTYPE html>
<html>
    <head>
        <title>{{ beverage.name }}</title>
    </head>
    <body>
        <h1>{{ beverage.name }}</h1>
        <p>Type: {{ beverage.type }}</p>
        <p>Distiller: {{ beverage.distiller }}</p>
        <div>{{ beverage.notes|linebreaks }}</div>
        <p>Alcohol Content: {{ beverage.alcohol_content }}</p>
        <p>Price: {{ beverage.price }}</p>
        <p>Tags: {{ beverage.tags }}</p>
        <!--{% load static %}
        <img src="{% static 'alcohol/' {{ beverage.image_filename }} %}" alt="My image">-->
        <p>Created: {{ beverage.created_at }}</p>
        <p>Last Updated: {{ beverage.updated_at }}</p>
        <a href="{% url 'beverage_list' %}">Back to list</a>
    </body>
</html>
