<!DOCTYPE html>
<html>
    <head>
        <title>{{ entry.title }}</title>
    </head>
    <body>
        <h1>{{ entry.name }}</h1>
        <p>Creator: {{ entry.creator }}</p>
        <p>Status: {{ entry.status }}</p>
        <p>Stitching Type: {{ entry.stitching_type }}</p>
        <p>Type: {{ entry.type }}</p>
        <p>Tags: {{ entry.tags }}</p>
        <!--{% load static %}
        <img src="{% static 'alcohol/' {{ entry.image_filename }} %}" alt="My image">-->
        <p>Created: {{ entry.created_at }}</p>
        <p>Last Updated: {{ entry.updated_at }}</p>
        <a href="{% url 'entry_list' %}">Back to list</a>
    </body>
</html>
